In [3]:
import numpy
import pandas

In [22]:
with open("../authors_with_h_index_new_11.json", "r") as f:
    authors = pandas.read_json(f)

In [23]:
df = authors

In [24]:
## I want to get the cited by integer from the profile_city_by_count column, profile_city_by_count has string with the integers 
df["profile_city_by_count"] = authors["profile_city_by_count"].str.extract(r"(\d+)")

In [26]:
## drop the NaN values
df = df.dropna()

In [28]:
## leave only profile_city_by_count as label and index (hindex,hindex5y,i10index,i10index5y) as targets
df = df[["profile_city_by_count", "hindex", "hindex5y", "i10index", "i10index5y"]]

In [29]:
df

     profile_city_by_count  hindex  hindex5y  i10index  i10index5y
0                    33348    40.0      31.0      68.0        60.0
1                    29177    85.0      56.0     408.0       330.0
2                    28071    86.0      26.0     204.0        54.0
3                    27983    88.0      62.0     401.0       349.0
4                    19897    70.0      56.0     224.0       195.0
...                    ...     ...       ...       ...         ...
5729                     1     6.0       5.0       5.0         1.0
5730                     1     1.0       1.0       0.0         0.0
5731                     1     1.0       1.0       0.0         0.0
5732                     1     1.0       1.0       0.0         0.0
5734                     1     1.0       1.0       0.0         0.0

[5654 rows x 5 columns]